.App {
  font-family: "Lato", sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  background-color: #efefef;
}

small {
  display: block;
}

button {
  cursor: pointer;
  background: rgb(229, 231, 235);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 1rem 0.3rem;
}

.list-no-bullet {
  list-style-type: none;
  padding-inline-start: 0px;
}
.list-item {
  list-style: none;
  padding: 1rem;
  border: 1px solid rgb(209, 213, 219);
  width: 70%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
}
